In [1]:
# import libraries needed
import pandas as pd
import numpy as np

# Assignment 1: Series Basics

The code has been previded to create an array, `oil_array` from a dataframe column. 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [3]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("oil.csv").dropna()
oil

            date  dcoilwtico
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
5     2013-01-08       93.21
...          ...         ...
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1175 rows x 2 columns]

In [43]:
# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [7]:
oil_array.size

100

In [9]:
oil_series = pd.Series(oil_array, name="oil_series")
oil_series

0     93.14
1     92.97
2     93.12
3     93.20
4     93.21
      ...
95    96.29
96    95.55
97    93.98
98    94.12
99    93.84
Name: oil_series, Length: 100, dtype: float64

In [14]:
oil_series.name, oil_series.dtype, oil_series.index, oil_series.mean(), oil_series.values.mean()

('oil_series',
 dtype('float64'),
 RangeIndex(start=0, stop=100, step=1),
 93.89929999999998,
 93.89929999999998)

In [15]:
oil_series.astype('int')

0     93
1     92
2     93
3     93
4     93
      ..
95    96
96    95
97    93
98    94
99    93
Name: oil_series, Length: 100, dtype: int32

# Assignment 2:  Accessing Series Data

* Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.


* Then, take the mean of the first 10 and last 10 prices of the series.


* Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [17]:
# extract date column from oil DataFrame and grab first 100 rows

dates = pd.Series(oil["date"]).iloc[1000:1100]
dates

1035    2016-12-20
1036    2016-12-21
1037    2016-12-22
1038    2016-12-23
1040    2016-12-27
           ...
1135    2017-05-09
1136    2017-05-10
1137    2017-05-11
1138    2017-05-12
1139    2017-05-15
Name: date, Length: 100, dtype: object

In [29]:
oil_series.index = dates
oil_series

date
2016-12-20    93.14
2016-12-21    92.97
2016-12-22    93.12
2016-12-23    93.20
2016-12-27    93.21
              ...
2017-05-09    96.29
2017-05-10    95.55
2017-05-11    93.98
2017-05-12    94.12
2017-05-15    93.84
Name: oil_series, Length: 100, dtype: float64

In [31]:
oil_series.iloc[:10].mean(), oil_series.iloc[-10:].mean()

(93.366, 94.702)

In [33]:
oil_series.loc['2017-01-01':'2017-01-07'].reset_index(drop=True)

0    94.27
1    93.26
2    94.28
3    95.49
Name: oil_series, dtype: float64

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [41]:
# list of dates to be used to solve bullet 3

dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [39]:
oil_series.sort_values().iloc[:10].sort_index(ascending=False)

date
2017-04-11    89.21
2017-04-10    88.81
2017-04-07    88.04
2017-04-06    87.83
2017-04-05    86.65
2017-04-04    88.73
2017-04-03    88.75
2017-02-23    90.47
2017-02-21    90.13
2017-02-17    90.71
Name: oil_series, dtype: float64

In [47]:
mask = (oil_series.index.isin(dates)) & (oil_series >= 50)
oil_series.loc[mask]

date
2016-12-22    93.12
2017-01-06    95.49
2017-03-21    97.23
2017-05-03    93.96
Name: oil_series, dtype: float64


# Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [48]:
oil_series

date
2016-12-20    93.14
2016-12-21    92.97
2016-12-22    93.12
2016-12-23    93.20
2016-12-27    93.21
              ...
2017-05-09    96.29
2017-05-10    95.55
2017-05-11    93.98
2017-05-12    94.12
2017-05-15    93.84
Name: oil_series, Length: 100, dtype: float64

In [52]:
oil_series.mul(1.1).add(2)

date
2016-12-20    104.454
2016-12-21    104.267
2016-12-22    104.432
2016-12-23    104.520
2016-12-27    104.531
               ...
2017-05-09    107.919
2017-05-10    107.105
2017-05-11    105.378
2017-05-12    105.532
2017-05-15    105.224
Name: oil_series, Length: 100, dtype: float64

In [55]:
max_price = oil_series.max()
(oil_series - max_price) / max_price

date
2016-12-20   -0.049398
2016-12-21   -0.051133
2016-12-22   -0.049602
2016-12-23   -0.048785
2016-12-27   -0.048683
                ...
2017-05-09   -0.017248
2017-05-10   -0.024801
2017-05-11   -0.040825
2017-05-12   -0.039396
2017-05-15   -0.042254
Name: oil_series, Length: 100, dtype: float64

In [61]:
month = oil_series.index.str[5:7].astype('int')
pd.Series(month)

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int32

# Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [64]:
oil_series[oil_series.index.str[6:7] == '3'].sum().round(2)

2163.14

In [65]:
oil_series[oil_series.index.str[6:7] == '3'].mean()

94.0495652173913

In [66]:
oil_series[oil_series.index.str[6:7].isin(['1', '2'])].count()

47

In [67]:
oil_series.quantile([0.1, 0.9])

0.1    90.737
0.9    97.012
Name: oil_series, dtype: float64

In [69]:
oil_series.astype('int').value_counts()

oil_series
93    24
95    17
92    14
97    11
94    10
96     9
90     5
88     4
91     3
86     1
87     1
89     1
Name: count, dtype: int64

# Assignment 6: Missing Data

There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column? 

Once youâ€™ve done that, fill the prices in with the median of the oil price series.

In [72]:
# Fill in two values with missing data

oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), pd.NA)

In [73]:
oil_series

date
2016-12-20    93.14
2016-12-21    92.97
2016-12-22    93.12
2016-12-23    93.20
2016-12-27    93.21
              ...
2017-05-09    96.29
2017-05-10    95.55
2017-05-11    93.98
2017-05-12    94.12
2017-05-15    93.84
Name: oil_series, Length: 100, dtype: float64

In [74]:

oil_series.isna().sum()

0

In [75]:

oil_series.fillna(oil_series.median())

date
2016-12-20    93.14
2016-12-21    92.97
2016-12-22    93.12
2016-12-23    93.20
2016-12-27    93.21
              ...
2017-05-09    96.29
2017-05-10    95.55
2017-05-11    93.98
2017-05-12    94.12
2017-05-15    93.84
Name: oil_series, Length: 100, dtype: float64

# Exercise 7: Apply and Where

Write a function that outputs â€˜buyâ€™ if price is less than the 90th percentile and â€˜waitâ€™ if itâ€™s not. Apply it to the oil series.

Then, create a series that multiplies price by .9 if the date is â€˜2016-12-23â€™ or â€˜2017-05-10â€™, and 1.1 for all other dates.

In [76]:
oil_series = oil_series.where(~oil_series.isin([51,44,47,83]), np.NaN)
oil_series

date
2016-12-20    93.14
2016-12-21    92.97
2016-12-22    93.12
2016-12-23    93.20
2016-12-27    93.21
              ...
2017-05-09    96.29
2017-05-10    95.55
2017-05-11    93.98
2017-05-12    94.12
2017-05-15    93.84
Name: oil_series, Length: 100, dtype: float64

In [77]:
def buy_bool(price, limit):
    if price < limit:
        return 'Buy'
    return 'Wait'

In [78]:
oil_series.apply(buy_bool, args=(oil_series.quantile(.9),))

date
2016-12-20    Buy
2016-12-21    Buy
2016-12-22    Buy
2016-12-23    Buy
2016-12-27    Buy
             ...
2017-05-09    Buy
2017-05-10    Buy
2017-05-11    Buy
2017-05-12    Buy
2017-05-15    Buy
Name: oil_series, Length: 100, dtype: object

In [79]:
oil_series.quantile(.9)

97.012

In [80]:
oil_series.apply(lambda x: 'Buy' if x < oil_series.quantile(.9) else 'wait')

date
2016-12-20    Buy
2016-12-21    Buy
2016-12-22    Buy
2016-12-23    Buy
2016-12-27    Buy
             ...
2017-05-09    Buy
2017-05-10    Buy
2017-05-11    Buy
2017-05-12    Buy
2017-05-15    Buy
Name: oil_series, Length: 100, dtype: object

In [82]:
np.where(oil_series.index.isin(['2016-12-23', '2017-05-10']), oil_series * .9, oil_series * 1.1)

array([102.454, 102.267, 102.432,  83.88 , 102.531, 102.388, 103.191,
       102.96 , 103.697, 102.586, 103.708, 105.039, 105.171, 105.699,
       104.566, 104.885, 104.665, 105.545, 107.382, 107.778, 107.415,
       107.206, 105.831, 106.348, 106.084, 105.424, 105.281, 106.711,
       107.228, 106.733, 107.03 , 105.545, 106.359, 104.412, 102.069,
       102.432, 102.014, 101.893, 102.124, 101.233,  99.781,  99.143,
        99.968,  99.517, 100.683, 101.211, 101.277, 101.684, 101.717,
       102.333, 102.839, 103.081, 101.684, 102.531, 101.706, 102.751,
       104.005, 105.589, 106.183, 106.964, 106.81 , 106.953, 104.522,
       102.586, 102.036, 102.696, 103.598, 104.049, 102.784, 100.353,
        97.625,  97.603,  95.315,  96.613,  96.844,  97.691,  98.131,
       100.177, 102.597, 101.893, 103.499, 102.542,  99.814, 103.07 ,
       104.775, 105.38 , 104.808, 105.864, 105.699, 105.391, 104.236,
       103.356, 103.345, 104.335, 105.292, 105.919,  85.995, 103.378,
       103.532, 103.224])