import pandas as pd

dfo = pd.read_csv('flights2.csv.gz', low_memory=False)
dfo.head()

In [4]:
df = dfo.set_index(['DESTINATION_AIRPORT', 'AIRLINE'])
df = df.sort_index()
df.head()

                             YEAR  MONTH  DAY  DAY_OF_WEEK  FLIGHT_NUMBER  \
DESTINATION_AIRPORT AIRLINE
ABE                 DL       2015      1    4            7           2036
                    DL       2015      1    5            1           1411
                    DL       2015      1    6            2           1411
                    DL       2015      1    7            3           1411
                    DL       2015      1    8            4           1411

                            TAIL_NUMBER ORIGIN_AIRPORT  SCHEDULED_DEPARTURE  \
DESTINATION_AIRPORT AIRLINE
ABE                 DL           N979AT            ATL                 2101
                    DL           N989AT            ATL                 2034
                    DL           N979AT            ATL                 2034
                    DL           N958AT            ATL                 2034
                    DL           N994AT            ATL                 2034

                             DEPARTURE_TIME  DEPARTURE_DELAY  ...  \
DESTINATION_AIRPORT AIRLINE                                   ...
ABE                 DL               2101.0              0.0  ...
                    DL               2032.0             -2.0  ...
                    DL               2032.0             -2.0  ...
                    DL               2031.0             -3.0  ...
                    DL               2030.0             -4.0  ...

                             ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED  \
DESTINATION_AIRPORT AIRLINE
ABE                 DL             2252.0            1.0         0          0
                    DL             2227.0            2.0         0          0
                    DL             2221.0           -4.0         0          0
                    DL             2226.0            1.0         0          0
                    DL             2223.0           -2.0         0          0

                             CANCELLATION_REASON  AIR_SYSTEM_DELAY  \
DESTINATION_AIRPORT AIRLINE
ABE                 DL                       NaN               NaN
                    DL                       NaN               NaN
                    DL                       NaN               NaN
                    DL                       NaN               NaN
                    DL                       NaN               NaN

                             SECURITY_DELAY  AIRLINE_DELAY  \
DESTINATION_AIRPORT AIRLINE
ABE                 DL                  NaN            NaN
                    DL                  NaN            NaN
                    DL                  NaN            NaN
                    DL                  NaN            NaN
                    DL                  NaN            NaN

                             LATE_AIRCRAFT_DELAY  WEATHER_DELAY
DESTINATION_AIRPORT AIRLINE
ABE                 DL                       NaN            NaN
                    DL                       NaN            NaN
                    DL                       NaN            NaN
                    DL                       NaN            NaN
                    DL                       NaN            NaN

[5 rows x 29 columns]

# Selecting Data in a MultiIndex